<template>
    <v-card>
        <v-toolbar dark color="primary">
            <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
    <v-divider></v-divider>
    <v-container fluid>
        <v-form 
        ref="form"
        v-model="valid"
        >
            <v-text-field
                v-model="name"
                label="Full Name"
                :rules="nameRules"
                required
                append-icon="mdi-account"
            ></v-text-field>
            <v-text-field
                v-model="email"
                label="E-mail"
                :rules="emailRules"
                required
                append-icon="mdi-email"
            ></v-text-field>
            <v-text-field
              v-model="password"
              :append-icon="showPassword ? 'mdi-eye':'mdi-eye-off'"
              :type="showPassword ? 'text':'password'"
              label="Password"
              :rules="passwordRules"
              counter
              required
              @click:append="showPassword = !showPassword"
            ></v-text-field>
            <v-file-input
                v-model="photo_profile"
                accept="image/*"
                show-size
                ref="photo"
                counter
                label="File input"
                prepend-icon="mdi-image"
                @change="onChange"
            >
                <template v-slot:selection="{ text }">
                    <v-chip
                        small
                        label
                        color="primary"
                    >
                        {{ text }}
                    </v-chip>
                    </template>
            </v-file-input>

                <!-- <v-checkbox
                    v-model="checkbox"
                    :rules="[v => !!v || 'You must agree to continue!']"
                    label="Do you agree?"
                    required
                ></v-checkbox> -->

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="error lighten-1"
                    @click="close"
                >
                    Cancel
                <v-icon right>mdi-close-circle</v-icon>
                </v-btn>
                <v-btn
                 :disabled="!valid"
                 color="success lighten-1"
                 @click="submit"
                >
                Login
                <v-icon right dark>mdi-lock-open</v-icon>
                </v-btn>
            </v-card-actions>
        </v-form>
    </v-container>

    </v-card>
</template>

  <script src="https://unpkg.com/vue-image-upload-resize"></script>
<script>
import axios from 'axios'

export default {
    data (){
            return {
                valid : false,
                name: '',
                nameRules: [
                    v => !!v || 'Name is required',
                ],
                email: '',
                
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                ],
                password: '',
                passwordRules: [
                    v => !!v || 'Password is required',
                    v => (v && !!v.length <= 8) || 'Passsword min 8'
                ],
                photo_profile: null,
                rulesPhoto:[
                    value => !value || value.size <= 2000000 || 'Photo size should be less than 2 MB!',
                ],
                
                showPassword: false,
                checkbox: false,
                apiDomain: "http://demo-api-vue.sanbercloud.com",

        }
        
    },

    computed: {
        
    },

    methods: {
        close(){
            this.$refs.form.reset()
            this.$emit('closed', false)
        },
        onChange(event){
            // this.photo_profile = event.target.files[0]
            // console.log(this.photo_profile)
            
        },
        submit() {
                this.$refs.form.validate()
                var formData = new FormData();
                formData.append("email", this.email);
                formData.append("name", this.name);
                formData.append("password", this.password)
                formData.append("photo_profile",this.photo_profile);
                let instance  = this;
                console.log(formData)
                console.log(this.name+" | "+this.password+" | "+this.email+" | "+this.photo_profile)
                    const config = {
                    method: "POST",
                    url: this.apiDomain + "/api/v2/auth/register",
                    data :  formData,
                    //config: { headers: {'enctype': 'multipart/form-data' }}
                }
                axios(config,
                        {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        }
                )
                    .then((response) => {
                        alert(response.data.message)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
        }
    },
  }
</script>