<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{ namaLengkap }}
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        namaDepan : 'Hastri',
        namaBelakang : 'Cantya Danahiswari'
      },
      computed : {
        namaLengkap : {
          get(){
            return `${this.namaDepan} ${this.namaBelakang}`
          },
          set : function(params){
            let arr = params.split (' ')
            let newarr = arr.slice(1, 3).join(" ")
            this.namaDepan = arr[0]
            this.namaBelakang = arr[1]
          }
        }
      },
  })
  </script>
</body>
</html>