<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hastri Cantya-JCC-Quiz 2-Vue js</title>
</head>

<body>
    <div id="app">
        <form>
            <input type="text" v-model="name"></input>
            <button @click="addUser">{{ buttonTxt }}</button>
        </form>
        <ul>
            <li v-for="(user, index) in users"> {{ user.name }} 
                <button @click="editUser(user.name, index)">Ubah</button>
                <button @click="delUser(index)">Hapus</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                name: "",
                id : null,
                users: [
                    {
                        'name' : 'Hastri Cantya'
                    },
                    {
                        'name' : 'Ineffable Thougths'
                    },
                    {
                        'name' : 'Sunflower'
                    }
                ],
                buttonTxt: "Tambah"
            },
            methods : {
                addUser: function(e){
                    if (this.buttonTxt == "Tambah") {
                        if(this.name !== "") {
                            this.users.push(
                            { name: this.name })
                        }
                    } else if (this.buttonTxt == "Update") {
                        this.users[this.id].name = this.name
                        this.buttonTxt = "Tambah"
                    }
                    this.name = ""
                    e.preventDefault()
                },
                editUser: function(user, index) {
                    this.name = user
                    this.buttonTxt = "Update"
                    this.id = index
                },
                delUser: function(index) {
                    let ask = confirm("Apakah anda yakin ingin menghapusnya?")
                    if(ask == true){
                        this.users.splice(index, 1);
                    } else{
                        return
                    }
                }
            }
        })
  </script>
</body>
</html>